html, body {
    height: 100%;
    width: 100%;
    font-size: 30px;
}
.exp{
    display: flex;
    flex-direction: row;
}
.exp button{
    height: 300px;
    width: 300px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#result{
    margin-top: 20px;
}
#startOver{
    height: 35px;
    width: 35px;
    margin-top: 10px;
    cursor: pointer;
}